{% extends 'base.html' %}
{% block head %}
<style>
    .nav-item {
        margin-right: 5px;
    }
</style>
{% endblock %}
{% block title %}Summary{% endblock %}
{% block content %}
<div class="page-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/admin/dashboard" style="text-decoration: none; color: red;">
            <h1>Welcome to Admin</h1>
        </a>
        <ul class="nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/admin/dashboard">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/quiz">Quiz</a>
            </li>
            <li class="nav-item">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="q"
                    hx-get="{{url_for('admin_search', type='subject')}}" hx-trigger="keyup changed delay:500ms" hx-target="#search-results">
            </li>
            <li>
                <form action="/logout" class="d-inline">
                    <button type="submit" class="btn btn-outline-danger">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
    <img src="../static/admin_chart.jpg" alt="Summart Chart">
</div>
{% endblock %}