{% extends 'base.html' %}
{% block head %}
<style>
    .container-custom {
        max-width: 1200px;
        padding-left: 5px;
        padding-right: 5px;
        margin: 0 auto;
    }

    .subjects-container {
        margin-top: 20px;
    }

    .subject-card {
        margin-bottom: 20px;
    }

    .action-links a {
        margin-right: 10px;
        text-decoration: none;
    }

    .edit_button {
        margin-right: 5px;
    }
</style>
{% endblock %}
{% block title %}Admin{% endblock %}
{% block content %}
<div class="page-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/admin/dashboard" style="text-decoration: none; color: red;">
            <h1>Welcome to Admin</h1>
        </a>
        <ul class="nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/admin/quiz">Quiz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Search</a>
            </li>
            <li>
                <form action="/logout" class="d-inline">
                    <button type="submit" class="btn btn-outline-danger">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
    <div class="container-custom">
        <div class="d-flex justify-content-center align-items-center">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-dismissible fade show {{ category }}" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div>
            <button type="button" id="add-subject" class="btn btn-success" data-toggle="modal" data-target="#addSubject">
                Add Subject
            </button>
            {% include 'add_subject.html' %}
        </div>
        <!-- Subjects -->
        <div class="subjects-container row">
            {% for subject in subjects %}
            <div class="col-md-6 subject-card">
                <div class="card">
                    <div class="card-header bg-info text-white d-flex align-items-center justify-content-between">
                        <h5 class="card-title m-0">{{ subject.name }}</h5>
                        <div class="d-flex align-items-center">
                            <button type="button" class="btn btn-warning btn-sm edit_button" data-toggle="modal" data-target="#editSubject{{ subject.id }}">
                                Edit
                            </button>
                            {% include 'edit_subject.html' %}
                            
                            <form action="/subject/delete/{{ subject.id }}" method="post" onsubmit="return confirm('Are you sure you want to delete this subject?');" class="mb-0">
                                <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>                    
                    <div class="card-body d-flex flex-column">
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr>
                                    <th>Chapter Name</th>
                                    <th>No. of Questions</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for chapter in subject.chapters %}
                                <tr>
                                    <td>
                                        <a href="#" data-toggle="modal"
                                            data-target="#chapter{{ subject.id }}{{ chapter.id }}">{{ chapter.name }}</a>
                                        {% include 'chapter.html' %}
                                    </td>
                                    <td>{{ chapter.number_of_questions }}</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <button type="button" class="btn btn-outline-primary btn-sm me-2 edit_button" data-toggle="modal" data-target="#editChapter{{ chapter.id }}">
                                                Edit
                                            </button>
                                            {% include 'edit_chapter.html' %}
        
                                            <form action="/chapter/delete/{{ chapter.id }}" method="post" onsubmit="return confirm('Are you sure you want to delete this chapter?');" class="mb-0">
                                                <button class="btn btn-outline-danger btn-sm" type="submit">Delete</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="text-end mt-3">
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addChapter{{ subject.id }}">
                                Add Chapter
                            </button>
                        </div>
                        {% include 'add_chapter.html' %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>                
    </div>
</div>
{% endblock %}