{% extends 'base.html' %}
{% block head %}
<script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js"></script>
<style>
    .container-custom {
        max-width: 1200px;
        padding-left: 5px;
        padding-right: 5px;
        margin: 0 auto;
    }

    .quiz-container {
        margin-top: 20px;
    }

    .quiz-card {
        margin-bottom: 20px;
    }

    .action-links a {
        margin-right: 10px;
        text-decoration: none;
    }

    .edit_button {
        margin-right: 5px;
    }

    .success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }

    .error {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }

    .nav-item {
        margin-right: 5px;
    }

    .add_quiz_button {
        margin-top: 20px;
    }
</style>
{% endblock %}
{% block title %}Quiz{% endblock %}
{% block content %}
<div class="page-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/admin/dashboard" style="text-decoration: none; color: red;">
            <h1>Welcome to Admin</h1>
        </a>
        <ul class="nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/admin/dashboard">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/summary">Summary</a>
            </li>
            <li class="nav-item">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="q"
                    hx-get="{{url_for('admin_search', type='quiz')}}" hx-trigger="keyup changed delay:500ms" hx-target="#search-results">
            </li>
            <li>
                <form action="/logout" class="d-inline">
                    <button type="submit" class="btn btn-outline-danger">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
    <div class="container-custom">
        <div class="d-flex justify-content-center align-items-center">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-dismissible fade show {{ category }}" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div class="add_quiz_button">
            <button type="button" id="add-quiz" class="btn btn-success" data-toggle="modal" data-target="#addQuiz">
                Add Quiz
            </button>
            <div class="modal fade" id="addQuiz" tabindex="-1" role="dialog" aria-labelledby="modalTitleQuiz"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header justify-content-center">
                            <h5 class="modal-title text-center" id="quizTitle">New Quiz</h5>
                        </div>
                        <div class="modal-body">
                            <form action="/quiz/add" id="quiz" method="post">
                                <div class="form-group">
                                    <label for="subject">Subject</label>
                                    <select class="form-control" id="subject" name="subject" required>
                                        <option value="" disabled selected>Select a subject</option>
                                        {% for subject in subjects %}
                                        <option value="{{ subject.id }}">{{ subject.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input autofocus type="text" class="form-control" id="name" name="name"
                                        autocomplete="off" required>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="date">Date</label>
                                        <input type="date" class="form-control" id="date" name="date" required>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="hour">Hour</label>
                                        <input autocomplete="on" type="text" class="form-control" id="hour" name="hour"
                                            required>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="minute">Minute</label>
                                        <input autocomplete="on" type="text" class="form-control" id="minute"
                                            name="minute" required>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-secondary mx-2" data-dismiss="modal"
                                style="width: 150px;">Cancel</button>
                            <button type="submit" class="btn btn-primary mx-2" form="quiz"
                                style="width: 150px;">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="search-results">
            {% if not search %}
            {% include 'quiz.html' %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}