<div class="modal fade" id="editSubject{{ subject.id }}" tabindex="-1" role="dialog" aria-labelledby="subjectTitle{{ subject.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title text-center" id="title{{ subject.id }}" style="color: #000;">Update Subject</h5>
            </div>
            <div class="modal-body">
                <form action="/subject/update/{{ subject.id }}" id="subject{{ subject.id }}" method="post">
                    <div class="form-group">
                        <label for="subject_name{{ subject.id }}" style="color: #000;">Name</label>
                        <input autofocus type="text" class="form-control" id="subject_name{{ subject.id }}" name="subject_name{{ subject.id }}" value="{{ subject.name }}" required>
                    </div>
                    <div class="form-group">
                        <label for="subject_description{{ subject.id }}" style="color: #000;">Description</label>
                        <textarea class="form-control" id="subject_description{{ subject.id }}" name="subject_description{{ subject.id }}" rows="5">{{ subject.description }}</textarea>
                    </div>
                    <input type="hidden" name="subject_id{{ subject.id }}" value="{{ subject.id }}">
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary mx-2" data-dismiss="modal" style="width: 150px;">Cancel</button>
                <button type="submit" class="btn btn-primary mx-2" form="subject{{ subject.id }}" style="width: 150px;">Update</button>
            </div>
        </div>
    </div>
</div>