{% extends 'base.html' %}
{% block head %}
<script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js"></script>
<style>
    .nav-item {
        margin-right: 5px;
    }
</style>
{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="page-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="{{ url_for('user', username=user.username) }}" style="text-decoration: none;">
            <h1>Welcome, {{user.name}}</h1>
        </a>
        <ul class="nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/{{user.username}}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/{{user.username}}/summary">Summary</a>
            </li>
            <li class="nav-item">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="q"
                    hx-get="/{{user.username}}/score/search" hx-trigger="keyup changed delay:500ms" hx-target="#search-results">
            </li>
            <li>
                <form action="/logout" class="d-inline">
                    <button type="submit" class="btn btn-outline-danger">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
    <div id="search-results">
        {% if not search %}
        {% include 'quiz_score.html' %}
        {% endif %}
    </div>
</div>
{% endblock %}